.but {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
  border-radius: 0.5rem;
  margin-top: 0.3rem;
  text-align: left;
  margin-left: 6px;
  color: black;
  font-size: 15px;
  background-color: #F4F7FF;
  width: 100%;
  margin-right: 12px;
}
@font-face {
  font-family: 'Medium';
  src: url('/fonts/NotoSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.but2{
  font-family: "Medium", sans-serif;
  margin-top: 2.4rem;
  background-color: #433878;
  width: 100%;
  margin-left: 6px;
  margin-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 0.5rem;
  color: white;
}
